html,body {
  height:100%;
}
h1 {
  font-size: 70px;
  color:#DDCCEE;
  margin-top: 50px;
  display: block;
}
h2 {
  font-size: 40px;
  color:#DDCCEE;
  /*margin-top: 50px;*/
  display: block;
}
.lead {
	color:#DDCCEE;
}
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}
.container-full a {
  color:#efefef;
  text-decoration:none;
}
.v-center {
  margin-top:7%;
}
table {
  background-color:#383743;
  text-align: center;
  box-shadow: 1px 1px 10px RGBA(0,0,0,0.1);
}
table tr th {
  text-align: center;
}
/*
table tr td:hover {
  background-color: #909097;
}

table tr:hover {
  background-color: #909097;
}
table th {
  background-color:#22212f;
}
*/
.table-hover tbody tr:hover td {
   background-color: #909097;   
}
.table-hover tbody tr:hover th{
   background-color: #22212f;
}
table tr:hover td.photo {
  background-color: #fff;
}
table tr.clickable-row {   
   cursor: pointer;
}
.table-header {
   background-color: #22212f;
}
table tr:hover th.table-header {   
   background-color: #22212f;   
}
.photo {
  background-color: #fff;
}
.replace-image {
  max-width:380px;
}
#github {
  font-size: 40px;
}
textarea {
  resize: none;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  min-height:100%;
  min-width:100%;
}